body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../public/space-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.cityTravel {
  font-size: 2rem;
  color: #00bcd4;
  text-shadow: 0.2rem 0.2rem 0.2rem #42767c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#earth {
  width: 500px;
  height: 500px;
  background: url("../public/earth-map.png") center/220%;
  border-radius: 50%;
  box-shadow: inset 8px 36px 80px 36px rgb(0, 0, 0),
  inset -6px 0 12px 4px rgba(255, 255, 255, 0.3);
  animation-name: rotate;
  animation-duration: 50s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 50s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@keyframes rotate {
  from { background-position: 0px 0px; }
  to { background-position: 3072px 0px; }
}
@-webkit-keyframes rotate {
  from { background-position: 0px 0px; }
  to { background-position: 3072px 0px; }
}
